.mainBg{ 
  background-image: url('../public/main-bg.png');
  background-size: cover;
  background-position: center center;
  color:var(--secundary-color);
}
.secBg{
  background-image: url('../public/green-light-bg.png');
  background-size: cover;
  background-position: center center;
}
.mainContent{
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);

}
.section{
  min-height: 93vh;
}
.menuSpacing{
  height:6.5rem;
}
.menu{
  background-color: white;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  right:0;
  border-bottom: 0.1rem solid var(--third-color);
}
.menuContent{
  display:flex;
  justify-content: space-between;
  text-align: center;
  padding-top:0;
  padding-bottom:0;
}
.menu h1{
  font-size: 2rem;
  color:var(--third-color);
  display:block;
  padding: 2rem;
}
.menu h1 a{
  color: inherit;
}
.menu ul{
  list-style: none;
  display: flex;
}
.menu ul li a{
  display:block;
  padding: 2rem;
  font-size:1.8rem;
  color: var(--third-color);
  position:relative;
}
.menu ul li a::after{
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width:0;
  height:0.2rem;
  background:var(--third-color);
  transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
  width: 50px;
  left: 25px;
}
.introContent{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:var(--gap);
  height:87vh;
}
.introTextContent{
  display:flex;
  flex-flow:column wrap;
  justify-content: center;
}
