.mainBg{ 
  /*background-image: url('../public/mat-bg.png');*/
  background-color: white;
  background-size: cover;
  background-position: center center;
  color:var(--primary-color-dark);
}
.secBg{
  /*background-image: url('../public/green-light-bg.png');*/
  background-color: var(--primary-color-dark);
  background-size: cover;
  background-position: center center;
  color: white;
}
.thirdBg{
  /*background-image: url('../public/green-light-bg.png');*/
  background-color: var(--third-color);
  background-size: cover;
  background-position: center center;
  color: white;
}
.mainContent{
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}
.section{
  min-height: 93vh;
}
.menuSpacing{
  min-height:6.5rem;
}
.menu{
  background-color: white;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  right:0;
  z-index:1;
  border-bottom: 0.1rem solid var(--primary-color-dark);
}
.menuContent{
  display:flex;
  justify-content: space-between;
  text-align: center;
  padding-top:0;
  padding-bottom:0;
}
.menu h1{
  font-size: 2rem;
  color:var(--primary-color-dark);
  display:inline-flex;
  padding-top: 1rem;
}
.menu h1 a{
  color: inherit;
}
.menu ul{
  list-style: none;
  display: flex;
}
.menu ul li a{
  display:block;
  padding: 2rem;
  font-size:1.8rem;
  color: var(--primary-color-dark);
  position:relative;
}
.menu ul li a::after{
  content: '';
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  width:0;
  min-height:0.2rem;
  background:var(--primary-color-dark);
  transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
  width: 50%;
  left:25%;
}
.introContent{
  position: relative;
  top: -8rem;
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:var(--gap);
  min-height:93vh;
}
.introTextContent{
  display:flex;
  flex-flow:column wrap;
  justify-content: center;
}
.aboutMeContent{
  max-width: 64rem;
  display: flex;
  flex-flow:column wrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
.gridContent{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:var(--gap);
}
.contactContent{
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
  min-height:100vh;
  display: flex;
  flex-flow:column wrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
.contactContent h2{
  font-size: 5rem;
}
.contactForm{
  grid-column: span 2;
}
.contactForm fieldset{
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}
.formGroup{
  flex: 1 1 32rem;
}
.formGroup label{
  display: block;
  margin-bottom: 1rem;
}
.formGroup input,
.formGroup textarea{
  border: none;
  background:white;
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 2.5rem;
  outline: none;
}
.formGroup textarea{
  min-height: 10rem;  
}
body .fullWidth{
  width: 100%;
  flex: 1 1 100%;
}
.formGroup button{
  border:0.5rem solid white;
  background:none;
  color: white;
  padding: 1.5rem 2rem;
  font-size: 2.5rem;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}
.formGroup button:hover{
  border:0.5rem solid white;
  background:white;
  color: var(--third-color);
}
.formGroup input:focus,
.formGroup textarea:focus{
  box-shadow:0 0 1.5rem 0.2rem var(--secondary-color);
}

@media (max-width: 800px){
  .introContent{   
    grid-template-columns: 1fr;
  }
  .menu{
    bottom: 0;
    text-align: center;
    display: none;
  }
  .menuContent{
    flex-direction: column;
    justify-content: center;
  }
  .menuContent ul{
    flex-direction: column;
    justify-content: center;
  }
  .menuContent{
    height: 100vh;
  }
  .closeMenu{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display:block;
  }
  .closeMenuLabel::after{
    content: '≡';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--primary-color-dark);
    color: white;
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
  }/*×*/
  .closeMenu:checked~.menu{
    display:block;
  }
  .closeMenu:checked~.closeMenuLabel::after{
    content:"×";
  }
  .menuSpacing{
    display:none;
  }
  .introContent{
    position: relative;
    top: -8rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:var(--gap);
    min-height:100vh;
  }
  .fechaMenu{
    display:block;    
  }
  .fechaMenu:checked~.menu{
    display:none;
  }
}

